@import '~antd/dist/antd.css';
@import '../../assets//Gotham-Font/stylesheet.css';

.home_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #141924;
    padding: 64px 20px 10px 20px;
    background-image: url(../../assets/img/netflix-background-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
}
.home_header::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(28,2,2);
    background: radial-gradient(circle, rgba(28,2,2,1) 0%, rgba(15,15,15,0.5130427170868348) 0%, rgba(0,0,0,0.8995973389355743) 70%, rgba(0,0,0,0.927608543417367) 100%);
    background: -moz-radial-gradient(circle, rgba(28,2,2,1) 0%, rgba(15,15,15,0.5130427170868348) 0%, rgba(0,0,0,0.8995973389355743) 70%, rgba(0,0,0,0.927608543417367) 100%);
    background: -webkit-radial-gradient(circle, rgba(28,2,2,1) 0%, rgba(15,15,15,0.5130427170868348) 0%, rgba(0,0,0,0.8995973389355743) 70%, rgba(0,0,0,0.927608543417367) 100%);
    background: -o-radial-gradient(circle, rgba(28,2,2,1) 0%, rgba(15,15,15,0.5130427170868348) 0%, rgba(0,0,0,0.8995973389355743) 70%, rgba(0,0,0,0.927608543417367) 100%);
}
.home_header img{
    width: 260px;
    position: relative;
}
.movies_holder{
    padding: 20px 30px;
    background-color: #141924;
    position: relative;
}